<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FeedCenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FeedCenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <FeedCenter.Properties.Settings>
      <setting name="WindowLocked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>0,0</value>
      </setting>
      <setting name="WindowLocation" serializeAs="String">
        <value>0,0</value>
      </setting>
      <setting name="CheckVersionAtStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FeedScrollInterval" serializeAs="String">
        <value>00:01:00</value>
      </setting>
      <setting name="FeedCheckInterval" serializeAs="String">
        <value>00:30:00</value>
      </setting>
      <setting name="DisplayEmptyFeeds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastVersionCheck" serializeAs="String">
        <value/>
      </setting>
      <setting name="StartWithWindows" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolbarLocation" serializeAs="String">
        <value>Bottom</value>
      </setting>
      <setting name="OpenAllSleepInterval" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="Browser" serializeAs="String">
        <value/>
      </setting>
      <setting name="OpenAllSleepIntervalFirst" serializeAs="String">
        <value>1500</value>
      </setting>
      <setting name="MultipleLineDisplay" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="LastCategoryID" serializeAs="String">
        <value/>
      </setting>
      <setting name="DefaultUserAgent" serializeAs="String">
        <value/>
      </setting>
    </FeedCenter.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <FeedCenter.Properties.Settings>
      <setting name="LogDatabase" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DatabaseFile" serializeAs="String">
        <value>FeedCenter.sdf</value>
      </setting>
      <setting name="ProgressSleepInterval" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="BalloonTipTimeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="VersionCheckInterval" serializeAs="String">
        <value>01:00:00</value>
      </setting>
      <setting name="VersionLocation" serializeAs="String">
        <value>https://api.github.com/repos/ckaczor/FeedCenter/releases/latest</value>
      </setting>
    </FeedCenter.Properties.Settings>
  </applicationSettings>
</configuration>
