<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

	<?define ProductName="$(fileVersion.ProductName($(var.FeedCenter.TargetPath)))" ?>
	<?define CompanyName="$(fileVersion.CompanyName($(var.FeedCenter.TargetPath)))" ?>
	<?define ProductVersion="$(fileVersion.ProductVersion($(var.FeedCenter.TargetPath)))" ?>

	<Bundle Name="$(var.ProductName)"
	        Version="$(var.ProductVersion)"
	        Manufacturer="$(var.CompanyName)"
	        UpgradeCode="5e5c13a5-635e-4310-a653-0f9760f46935"
	        Compressed="no">

		<util:DirectorySearch Id="DotnetDesktopRuntimeSearch_x86"
		                      Path="[ProgramFilesFolder]dotnet\shared\Microsoft.WindowsDesktop.App\7.0.5"
		                      Result="exists"
		                      Variable="DotnetDesktopRuntimeExists_x86"
		                      Condition="NOT VersionNT64" />

		<util:DirectorySearch Id="DotnetDesktopRuntimeSearch_x64"
		                      Path="[ProgramFiles64Folder]dotnet\shared\Microsoft.WindowsDesktop.App\7.0.5"
		                      Result="exists"
		                      Variable="DotnetDesktopRuntimeExists_x64"
		                      Condition="VersionNT64" />

		<BootstrapperApplicationRef Id="WixExtendedBootstrapperApplication.HyperlinkLicense">
			<bal:WixExtendedBootstrapperApplication LicenseUrl=""
			                                        SuppressOptionsUI="yes"
			                                        ShowVersion="yes"
			                                        LocalizationFile="Bundle.wxl"
			                                        LaunchPassive="yes"
			                                        LaunchQuiet="yes"
			                                        LaunchTarget="[LocalAppDataFolder]$(var.ProductName)\FeedCenter.exe" />
		</BootstrapperApplicationRef>

		<Chain>
			<ExePackage Id="runtime_desktop_x64"
			            DisplayName=".NET 7.0 Desktop Runtime (x64)"
			            InstallCommand="/install /quiet"
			            Permanent="yes"
			            Compressed="no"
			            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/dffb1939-cef1-4db3-a579-5475a3061cdd/578b208733c914c7b7357f6baa4ecfd6/windowsdesktop-runtime-7.0.5-win-x64.exe"
			            Name="windowsdesktop-runtime-7.0.5-win-x64.exe"
			            DetectCondition="DotnetDesktopRuntimeExists_x64 = 1"
			            InstallCondition='VersionNT64'>
				<RemotePayload ProductName="Microsoft Windows Desktop Runtime - 7.0.5 (x64)"
				               Description="Microsoft Windows Desktop Runtime - 7.0.5 (x64)"
				               Version="7.0.5.32327"
				               Hash="5B4232EED009E6B66C64A6096B1277995DE63F57"
				               Size="57609944" />
			</ExePackage>
			<ExePackage Id="runtime_desktop_x32"
			            DisplayName=".NET 7.0 Desktop Runtime (x86)"
			            InstallCommand="/install /quiet"
			            Permanent="yes"
			            Compressed="no"
			            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/eb64dcd1-d277-4798-ada1-600805c9e2dc/fc73c843d66f3996e7ef22468f4902e6/windowsdesktop-runtime-7.0.5-win-x86.exe"
			            Name="windowsdesktop-runtime-7.0.5-win-x86.exe"
			            DetectCondition="DotnetDesktopRuntimeExists_x86 = 1"
			            InstallCondition='NOT VersionNT64'>
				<RemotePayload ProductName="Microsoft Windows Desktop Runtime - 7.0.5 (x86)"
				               Description="Microsoft Windows Desktop Runtime - 7.0.5 (x86)"
				               Version="7.0.5.32327"
				               Hash="3987657473EA907DEC2FA48F492A5FC2B83B5060"
				               Size="52816632" />
			</ExePackage>
			<MsiPackage Id="FeedCenter"
			            SourceFile="$(var.Setup.TargetPath)"
			            Compressed="yes" />
		</Chain>
	</Bundle>
</Wix>