<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?define ProductName="$(fileVersion.ProductName($(var.FeedCenter.TargetPath)))" ?>
	<?define CompanyName="$(fileVersion.CompanyName($(var.FeedCenter.TargetPath)))" ?>
	<?define ProductVersion="$(fileVersion.ProductVersion($(var.FeedCenter.TargetPath)))" ?>
	<?define FileDescription="$(fileVersion.FileDescription($(var.FeedCenter.TargetPath)))" ?>

	<Product Id="*"
	         Name="$(var.ProductName)"
	         Language="1033"
	         Version="$(var.ProductVersion)"
	         Manufacturer="$(var.CompanyName)"
	         UpgradeCode="47f30e4a-a861-47ac-b82d-35e4b886992a">
		<Package InstallerVersion="405"
		         Compressed="yes"
		         InstallScope="perUser" />

		<util:CloseApplication Id="CloseApplication"
		                       Target="FeedCenter.exe"
		                       CloseMessage="yes"
		                       Timeout="5" />

		<MajorUpgrade Schedule="afterInstallValidate"
		              AllowDowngrades="no"
		              AllowSameVersionUpgrades="no"
		              DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<MediaTemplate />

		<Feature Id="ProductFeature"
		         Title="$(var.ProductName)"
		         Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR"
		           Name="SourceDir">
			<Directory Id="LocalAppDataFolder">
				<Directory Id="INSTALLFOLDER"
				           Name="$(var.ProductName)">
					<Directory Id="SqlServerCe_32"
					           Name="x86" />
					<Directory Id="SqlServerCe_64"
					           Name="amd64" />
					<Directory Id="Runtimes"
					           Name="runtimes">
						<Directory Id="Runtimes_Win_x32"
						           Name="win-x32">
							<Directory Id="Runtimes_Win_x32_Native"
							           Name="native" />
						</Directory>
						<Directory Id="Runtimes_Win_x64"
						           Name="win-x64">
							<Directory Id="Runtimes_Win_x64_Native"
							           Name="native" />
						</Directory>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder"
				           Name="$(var.ProductName)" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents">
			<Component Id="SqlServerCe_32"
			           Guid="{800607E9-65ED-489F-83A2-C73AA36A9D1D}"
			           Directory="SqlServerCe_32">

				<RegistryValue Root='HKCU'
				               Key='Software\Feed Center\Setup'
				               Type='integer'
				               Name='SqlServerCe_32'
				               Value='1'
				               KeyPath='yes' />

				<File Id="sqlceca40_32"
				      Source="$(var.FeedCenter.TargetDir)\x86\sqlceca40.dll" />
				<File Id="sqlcecompact40_32"
				      Source="$(var.FeedCenter.TargetDir)\x86\sqlcecompact40.dll" />
				<File Id="sqlceer40EN_32"
				      Source="$(var.FeedCenter.TargetDir)\x86\sqlceer40EN.dll" />
				<File Id="sqlceme40_32"
				      Source="$(var.FeedCenter.TargetDir)\x86\sqlceme40.dll" />
				<File Id="sqlceqp40_32"
				      Source="$(var.FeedCenter.TargetDir)\x86\sqlceqp40.dll" />
				<File Id="sqlcese40_32"
				      Source="$(var.FeedCenter.TargetDir)\x86\sqlcese40.dll" />

				<RemoveFolder Id='SqlServerCe_32'
				              On='uninstall' />
			</Component>
			<Component Id="SqlServerCe_64"
			           Guid="{67DB1CF4-23F2-4252-896C-714438959C9A}"
			           Directory="SqlServerCe_64">

				<RegistryValue Root='HKCU'
				               Key='Software\Feed Center\Setup'
				               Type='integer'
				               Name='SqlServerCe_64'
				               Value='1'
				               KeyPath='yes' />

				<File Id="sqlceca40_64"
				      Source="$(var.FeedCenter.TargetDir)\amd64\sqlceca40.dll" />
				<File Id="sqlcecompact40_64"
				      Source="$(var.FeedCenter.TargetDir)\amd64\sqlcecompact40.dll" />
				<File Id="sqlceer40EN_64"
				      Source="$(var.FeedCenter.TargetDir)\amd64\sqlceer40EN.dll" />
				<File Id="sqlceme40_64"
				      Source="$(var.FeedCenter.TargetDir)\amd64\sqlceme40.dll" />
				<File Id="sqlceqp40_64"
				      Source="$(var.FeedCenter.TargetDir)\amd64\sqlceqp40.dll" />
				<File Id="sqlcese40_64"
				      Source="$(var.FeedCenter.TargetDir)\amd64\sqlcese40.dll" />

				<RemoveFolder Id='SqlServerCe_64'
				              On='uninstall' />
			</Component>
			<Component Id="Runtimes_Win_x32_Native"
			           Guid="{E07B7F53-9FA0-426D-8ADF-A9FFF4E1ED02}"
			           Directory="Runtimes_Win_x32_Native">
				<RegistryValue Root="HKCU"
				               Key="Software\Feed Center\Setup"
				               Type="integer"
				               Name="Runtimes_Win_x32"
				               Value="1"
				               KeyPath="yes" />

				<File Id="realm_wrappers.dll_x32"
				      Source="$(var.FeedCenter.TargetDir)\runtimes\win-x86\native\realm-wrappers.dll" />
				<File Id="sni.dll_x32"
				      Source="$(var.FeedCenter.TargetDir)\runtimes\win-x86\native\sni.dll" />
			</Component>
			<Component Id="Runtimes_Win_x64_Native"
			           Guid="{566D640B-F34D-4400-9B86-10EFD669A8B7}"
			           Directory="Runtimes_Win_x64_Native">
				<RegistryValue Root="HKCU"
				               Key="Software\Feed Center\Setup"
				               Type="integer"
				               Name="Runtimes_Win_x64"
				               Value="1"
				               KeyPath="yes" />

				<File Id="realm_wrappers.dll_x64"
				      Source="$(var.FeedCenter.TargetDir)\runtimes\win-x64\native\realm-wrappers.dll" />
				<File Id="sni.dll_x64"
				      Source="$(var.FeedCenter.TargetDir)\runtimes\win-x64\native\sni.dll" />
			</Component>
			<Component Id="FeedCenter"
			           Guid="{9B2B9C65-8E68-4F82-9AC5-16EBCAC34B9E}"
			           Directory="INSTALLFOLDER">

				<RegistryValue Root='HKCU'
				               Key='Software\Feed Center\Setup'
				               Type='integer'
				               Name='FeedCenter'
				               Value='1'
				               KeyPath='yes' />

				<!-- Capabilities keys for Vista/7 "Set Program Access and Defaults" -->
				<RegistryValue Root="HKCU"
				               Key="SOFTWARE\Feed Center\Capabilities"
				               Name="ApplicationDescription"
				               Value="$(var.FileDescription)"
				               Type="string" />
				<RegistryValue Root="HKCU"
				               Key="SOFTWARE\Feed Center\Capabilities"
				               Name="ApplicationName"
				               Value="$(var.ProductName)"
				               Type="string" />
				<RegistryValue Root="HKCU"
				               Key="SOFTWARE\Feed Center\Capabilities\URLAssociations"
				               Name="feed"
				               Value="FeedCenter.URL.feed"
				               Type="string" />
				<RegistryValue Root="HKCU"
				               Key="SOFTWARE\Feed Center\Capabilities\URLAssociations"
				               Name="feeds"
				               Value="FeedCenter.URL.feed"
				               Type="string" />

				<RegistryValue Root="HKCU"
				               Key="SOFTWARE\RegisteredApplications"
				               Name="Feed Center"
				               Value="SOFTWARE\Feed Center\Capabilities"
				               Type="string" />

				<RegistryValue Root="HKCU"
				               Key="Software\Classes\FeedCenter.URL.feed"
				               Value="URL:Feed Center Add RSS Feed"
				               Type="string" />
				<RegistryValue Root="HKCU"
				               Key="Software\Classes\FeedCenter.URL.feed\DefaultIcon"
				               Value="[INSTALLFOLDER]FeedCenter.exe"
				               Type="string" />
				<RegistryValue Root="HKCU"
				               Key="Software\Classes\FeedCenter.URL.feed\shell\open\command"
				               Value="&quot;[INSTALLFOLDER]FeedCenter.exe&quot; %1"
				               Type="string" />

				<File Id="ChrisKaczor.ApplicationUpdate.dll"
				      Source="$(var.FeedCenter.TargetDir)\ChrisKaczor.ApplicationUpdate.dll" />
				<File Id="ChrisKaczor.GenericSettingsProvider.dll"
				      Source="$(var.FeedCenter.TargetDir)\ChrisKaczor.GenericSettingsProvider.dll" />
				<File Id="ChrisKaczor.InstalledBrowsers.dll"
				      Source="$(var.FeedCenter.TargetDir)\ChrisKaczor.InstalledBrowsers.dll" />
				<File Id="ChrisKaczor.Wpf.Application.SingleInstance.dll"
				      Source="$(var.FeedCenter.TargetDir)\ChrisKaczor.Wpf.Application.SingleInstance.dll" />
				<File Id="ChrisKaczor.Wpf.Application.StartWithWindows.dll"
				      Source="$(var.FeedCenter.TargetDir)\ChrisKaczor.Wpf.Application.StartWithWindows.dll" />
				<File Id="ChrisKaczor.Wpf.Controls.HtmlTextBlock.dll"
				      Source="$(var.FeedCenter.TargetDir)\ChrisKaczor.Wpf.Controls.HtmlTextBlock.dll" />
				<File Id="ChrisKaczor.Wpf.Controls.Link.dll"
				      Source="$(var.FeedCenter.TargetDir)\ChrisKaczor.Wpf.Controls.Link.dll" />
				<File Id="ChrisKaczor.Wpf.Controls.Toolbar.dll"
				      Source="$(var.FeedCenter.TargetDir)\ChrisKaczor.Wpf.Controls.Toolbar.dll" />
				<File Id="ChrisKaczor.Wpf.Validation.dll"
				      Source="$(var.FeedCenter.TargetDir)\ChrisKaczor.Wpf.Validation.dll" />
				<File Id="ChrisKaczor.Wpf.Windows.ControlBox.dll"
				      Source="$(var.FeedCenter.TargetDir)\ChrisKaczor.Wpf.Windows.ControlBox.dll" />
				<File Id="ChrisKaczor.Wpf.Windows.SnappingWindow.dll"
				      Source="$(var.FeedCenter.TargetDir)\ChrisKaczor.Wpf.Windows.SnappingWindow.dll" />
				<File Id="ControlzEx.dll"
				      Source="$(var.FeedCenter.TargetDir)\ControlzEx.dll" />
				<File Id="Dapper.dll"
				      Source="$(var.FeedCenter.TargetDir)\Dapper.dll" />
				<File Id="DebounceThrottle.dll"
				      Source="$(var.FeedCenter.TargetDir)\DebounceThrottle.dll" />
				<File Id="FeedCenter.deps.json"
				      Source="$(var.FeedCenter.TargetDir)\FeedCenter.deps.json" />
				<File Id="FeedCenter.dll"
				      Source="$(var.FeedCenter.TargetDir)\FeedCenter.dll" />
				<File Id="FeedCenter.dll.config"
				      Source="$(var.FeedCenter.TargetDir)\FeedCenter.dll.config" />
				<File Id="FeedCenter.exe"
				      Source="$(var.FeedCenter.TargetDir)\FeedCenter.exe" />
				<File Id="FeedCenter.runtimeconfig.json"
				      Source="$(var.FeedCenter.TargetDir)\FeedCenter.runtimeconfig.json" />
				<File Id="H.Formatters.BinaryFormatter.dll"
				      Source="$(var.FeedCenter.TargetDir)\H.Formatters.BinaryFormatter.dll" />
				<File Id="H.Formatters.dll"
				      Source="$(var.FeedCenter.TargetDir)\H.Formatters.dll" />
				<File Id="H.GeneratedIcons.System.Drawing.dll"
				      Source="$(var.FeedCenter.TargetDir)\H.GeneratedIcons.System.Drawing.dll" />
				<File Id="H.NotifyIcon.dll"
				      Source="$(var.FeedCenter.TargetDir)\H.NotifyIcon.dll" />
				<File Id="H.NotifyIcon.Wpf.dll"
				      Source="$(var.FeedCenter.TargetDir)\H.NotifyIcon.Wpf.dll" />
				<File Id="H.Pipes.dll"
				      Source="$(var.FeedCenter.TargetDir)\H.Pipes.dll" />
				<File Id="HtmlAgilityPack.dll"
				      Source="$(var.FeedCenter.TargetDir)\HtmlAgilityPack.dll" />
				<File Id="HtmlTextWriter.dll"
				      Source="$(var.FeedCenter.TargetDir)\HtmlTextWriter.dll" />
				<File Id="JetBrains.Annotations.dll"
				      Source="$(var.FeedCenter.TargetDir)\JetBrains.Annotations.dll" />
				<File Id="MahApps.Metro.dll"
				      Source="$(var.FeedCenter.TargetDir)\MahApps.Metro.dll" />
				<File Id="Microsoft.Bcl.AsyncInterfaces.dll"
				      Source="$(var.FeedCenter.TargetDir)\Microsoft.Bcl.AsyncInterfaces.dll" />
				<File Id="Microsoft.Extensions.ObjectPool.dll"
				      Source="$(var.FeedCenter.TargetDir)\Microsoft.Extensions.ObjectPool.dll" />
				<File Id="Microsoft.Xaml.Behaviors.dll"
				      Source="$(var.FeedCenter.TargetDir)\Microsoft.Xaml.Behaviors.dll" />
				<File Id="MongoDB.Bson.dll"
				      Source="$(var.FeedCenter.TargetDir)\MongoDB.Bson.dll" />
				<File Id="NameBasedGrid.dll"
				      Source="$(var.FeedCenter.TargetDir)\NameBasedGrid.dll" />
				<File Id="Newtonsoft.Json.dll"
				      Source="$(var.FeedCenter.TargetDir)\Newtonsoft.Json.dll" />
				<File Id="Realm.dll"
				      Source="$(var.FeedCenter.TargetDir)\Realm.dll" />
				<File Id="Remotion.Linq.dll"
				      Source="$(var.FeedCenter.TargetDir)\Remotion.Linq.dll" />
				<File Id="Serilog.dll"
				      Source="$(var.FeedCenter.TargetDir)\Serilog.dll" />
				<File Id="Serilog.Enrichers.Thread.dll"
				      Source="$(var.FeedCenter.TargetDir)\Serilog.Enrichers.Thread.dll" />
				<File Id="Serilog.Sinks.Console.dll"
				      Source="$(var.FeedCenter.TargetDir)\Serilog.Sinks.Console.dll" />
				<File Id="Serilog.Sinks.File.dll"
				      Source="$(var.FeedCenter.TargetDir)\Serilog.Sinks.File.dll" />
				<File Id="System.ComponentModel.Composition.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.ComponentModel.Composition.dll" />
				<File Id="System.ComponentModel.Composition.Registration.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.ComponentModel.Composition.Registration.dll" />
				<File Id="System.Data.Odbc.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.Data.Odbc.dll" />
				<File Id="System.Data.OleDb.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.Data.OleDb.dll" />
				<File Id="System.Data.SqlClient.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.Data.SqlClient.dll" />
				<File Id="System.Data.SqlServerCe.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.Data.SqlServerCe.dll" />
				<File Id="System.DirectoryServices.AccountManagement.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.DirectoryServices.AccountManagement.dll" />
				<File Id="System.DirectoryServices.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.DirectoryServices.dll" />
				<File Id="System.DirectoryServices.Protocols.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.DirectoryServices.Protocols.dll" />
				<File Id="System.IO.Ports.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.IO.Ports.dll" />
				<File Id="System.Management.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.Management.dll" />
				<File Id="System.Private.ServiceModel.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.Private.ServiceModel.dll" />
				<File Id="System.Reflection.Context.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.Reflection.Context.dll" />
				<File Id="System.Runtime.Caching.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.Runtime.Caching.dll" />
				<File Id="System.Security.Cryptography.Pkcs.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.Security.Cryptography.Pkcs.dll" />
				<File Id="System.Security.Cryptography.ProtectedData.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.Security.Cryptography.ProtectedData.dll" />
				<File Id="System.Security.Cryptography.Xml.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.Security.Cryptography.Xml.dll" />
				<File Id="System.ServiceModel.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.ServiceModel.dll" />
				<File Id="System.ServiceModel.Duplex.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.ServiceModel.Duplex.dll" />
				<File Id="System.ServiceModel.Http.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.ServiceModel.Http.dll" />
				<File Id="System.ServiceModel.NetTcp.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.ServiceModel.NetTcp.dll" />
				<File Id="System.ServiceModel.Primitives.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.ServiceModel.Primitives.dll" />
				<File Id="System.ServiceModel.Security.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.ServiceModel.Security.dll" />
				<File Id="System.ServiceModel.Syndication.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.ServiceModel.Syndication.dll" />
				<File Id="System.ServiceProcess.ServiceController.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.ServiceProcess.ServiceController.dll" />
				<File Id="System.Speech.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.Speech.dll" />
				<File Id="System.Threading.AccessControl.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.Threading.AccessControl.dll" />
				<File Id="System.Web.Services.Description.dll"
				      Source="$(var.FeedCenter.TargetDir)\System.Web.Services.Description.dll" />
				<File Id="WpfScreenHelper.dll"
				      Source="$(var.FeedCenter.TargetDir)\WpfScreenHelper.dll" />

				<RemoveFolder Id='INSTALLFOLDER'
				              On='uninstall' />
			</Component>
			<Component Id="ApplicationShortcut"
			           Guid="{63CF0995-E117-4BB9-9077-76F570FDFAA9}"
			           Directory="ApplicationProgramsFolder">

				<Shortcut Id="StartMenuShortcut"
				          Directory="ApplicationProgramsFolder"
				          Advertise="no"
				          Name="$(var.ProductName)"
				          Target="[INSTALLFOLDER]\$(var.FeedCenter.TargetName)"
				          WorkingDirectory="INSTALLFOLDER" />

				<RemoveFolder Id="ApplicationProgramsFolder"
				              On="uninstall" />

				<RegistryValue Root="HKCU"
				               Key="Software\Feed Center\Setup"
				               Name="Shortcut"
				               Type="integer"
				               Value="1"
				               KeyPath="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>